.btn-wrapper {
    border: none;
    outline: none;
    background-color: white;
    position: relative;
}


.image-wrapper {
    height: 40px;
    width: 40px;
    overflow: hidden;

}

.image-wrapper img {
    height: auto;
    width: 100%;
}

.item-wrapper {
    position: absolute;
    top: -13%;
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    padding: 2px;
}